<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>对TodoList组件进行拆分示例</title>
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    button { margin-left: 10px; }
  </style>
</head>
<body>
<div id="app"></div>
</body>
<script>
  const app = Vue.createApp({
    data() {
      return {
        todos: []
      }
    },
    template: `
      <add-todo :items="todos"/>
      <ul>
        <todo-item v-for="(item, index) of todos" :key="index" :index="index" :item="item"/>
      </ul>
    `
  })
  // 定义AddTodo组件
  app.component('add-todo', {
    props: ['items'],
    data() {
      return {
        todo: ''
      }
    },
    methods: {
      handleAddItem() {
        this.items.push(this.todo)
        this.todo = ''
      }
    },
    template: `
      <input v-model="todo"/>
      <button v-on:click="handleAddItem">新增</button>
    `
  })
  // 定义TodoItem组件
  app.component('todo-item', {
    props: ['index', 'item'],
    template: `
      <li>{{index + 1}}: {{item}}</li>
    `
  })
  // 挂载根组件
  app.mount('#app')
</script>
</html>
