node_modules
.tmp
.cache
.DS_Store
package-lock.json
yarn.lock
bower_components
test
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# editor directories and files
.idea
.vscode
*.sln
*.suo
*.ntvs*
*.njsproj
