/*全局样式*/
body {
    overflow-x: hidden;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #666;
    background: #fafafc;
}

* {
    box-sizing: border-box;
    /*点击元素清除默认高亮*/
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #666;
    text-decoration: none;
}

img {
    width: 100%;
    border: none;
    vertical-align: middle;
}

a, img {
    /*清除默认链接，图片长按的下拉菜单*/
    -webkit-touch-callout: none;
}

input, textarea {
    outline: none;
    /*清除默认在ios上的文本框外观*/
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.wrapper {
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    margin: 0 auto;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon-sprite {
    background: url("../images/sprite.png") no-repeat;
    background-size: 104px;
}

.icon-before::before,
.icon-after::after {
    content: "";
    display: block;
    background: url("../images/sprite.png") no-repeat;
    background-size: 104px;
}

/*搜索栏 search-bar*/
.search-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 44px;
}

.search-bar .search-box {
    position: relative;
    flex: 1;
    height: 30px;
    margin: 7px 0 7px 10px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background-color: #fff;
}

.search-bar .search-box::before {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 15px;
    height: 15px;
    background-position: -59px -279px;
}

.search-bar .search-box .search-input {
    float: left;
    width: 95%;
    height: 30px;
    padding-left: 25px;
    line-height: 28px;
}

.search-bar .search-box .search-input .keyword {
    width: 100%;
    border: none;
    padding-left: 5px;
    vertical-align: middle;
}

.search-bar .icon-user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}

.search-bar .icon-user::before {
    width: 23px;
    height: 23px;
    margin: 4px auto -2px;
    background-position: -59px -194px;
}

/*页面内容*/
.main-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 44px;
}

/*轮播图 banner*/
.main-container .banner img {
    width: 100%;
}

/*本地导航栏 local-nav*/
.main-container [class$=-nav] {
    overflow: hidden;
    flex: 100%;
    margin: 5px 10px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.main-container .local-nav {
    display: flex;
    height: 64px;
    margin-top: 10px;
    background: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
}

.main-container .local-nav .nav-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 0;
}

.main-container .local-nav .nav-item .item-title {
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
}

.main-container .local-nav .nav-item [class^=item-icon-] {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background: url("../images/local-nav-sprite.png") no-repeat;
    background-size: 32px;
}

.main-container .local-nav .nav-item .item-icon-jd {
    background-position: 0 0;
}

.main-container .local-nav .nav-item .item-icon-wl {
    background-position: 0 -32px;
}

.main-container .local-nav .nav-item .item-icon-msl {
    background-position: 0 -64px;
}

.main-container .local-nav .nav-item .item-icon-zby {
    background-position: 0 -96px;
}

.main-container .local-nav .nav-item .item-icon-yry {
    background-position: 0 -128px;
}

/*主导航栏 main-nav*/
.main-container .main-nav [class^=nav-item-] {
    display: flex;
    height: 88px;
}

.main-container .main-nav [class^=nav-item-]:nth-child(-n+2) {
    margin-bottom: 3px;
}

.main-container .main-nav .nav-item-hotel {
    background: -webkit-gradient(linear, left top, right top, from(#fa5956), to(#fb8650));
    background: linear-gradient(to right, #fa5956, #fb8650);
}

.main-container .main-nav .nav-item-travel {
    background: -webkit-gradient(linear, left top, right top, from(#4b8fed), to(#53bced));
    background: linear-gradient(to right, #4b8fed, #53bced);
}

.main-container .main-nav .nav-item-trip {
    background: -webkit-gradient(linear, left top, right top, from(#34c2aa), to(#6cd557));
    background: linear-gradient(to right, #34c2aa, #6cd557);
}

.main-container .main-nav .nav-item-hotel .sub-item-cate {
    background: url("../images/hotel-left.png") no-repeat bottom right;
    background-size: 73px;
}

.main-container .main-nav .nav-item-travel .sub-item-cate {
    background: url("../images/travel-left.png") no-repeat bottom right;
    background-size: 79px;
}

.main-container .main-nav .nav-item-trip .sub-item-cate {
    background: url("../images/trip-left.png") no-repeat bottom right;
    background-size: 94px;
}

.main-container .main-nav .nav-item-hotel .sub-item-title:nth-child(2) {
    background: url("../images/hotel-right.png") no-repeat bottom left;
    background-size: 37px;
}

.main-container .main-nav .nav-item-travel .sub-item-title:nth-child(2) {
    background: url("../images/travel-right.png") no-repeat bottom left;
    background-size: 37px;
}

.main-container .main-nav .nav-item-trip .sub-item-title:nth-child(2) {
    background: url("../images/trip-right.png") no-repeat bottom left;
    background-size: 61px;
}

.main-container .main-nav [class^=sub-item-] {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-container .main-nav [class^=sub-item-] a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.main-container .main-nav [class^=sub-item-]:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

.main-container .main-nav .sub-item-title a:first-child {
    border-bottom: 1px solid #fff;
}

/*子导航栏 sub-nav*/
.main-container .sub-nav {
    display: flex;
    flex-wrap: wrap;
}

.main-container .sub-nav .nav-item {
    display: flex;
    flex: 20%;
    flex-direction: column;
    align-items: center;
    width: 0;
}

.main-container .sub-nav .nav-item .item-title {
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
}

.main-container .sub-nav .nav-item [class^=item-icon-] {
    width: 28px;
    height: 28px;
    margin-top: 8px;
    background: url("../images/sub-nav-sprite.png") no-repeat;
    background-size: 28px;
}

.main-container .sub-nav .nav-item .item-icon-zyx {
    background-position: 0 0;
}

.main-container .sub-nav .nav-item .item-icon-wifi {
    background-position: 0 -28px;
}

.main-container .sub-nav .nav-item .item-icon-qz {
    background-position: 0 -56px;
}

.main-container .sub-nav .nav-item .item-icon-gw {
    background-position: 0 -84px;
}

.main-container .sub-nav .nav-item .item-icon-xd {
    background-position: 0 -112px;
}

.main-container .sub-nav .nav-item .item-icon-jp {
    background-position: 0 -140px;
}

.main-container .sub-nav .nav-item .item-icon-lpk {
    background-position: 0 -168px;
}

.main-container .sub-nav .nav-item .item-icon-sk {
    background-position: 0 -196px;
}

.main-container .sub-nav .nav-item .item-icon-lp {
    background-position: 0 -224px;
}

.main-container .sub-nav .nav-item .item-icon-more {
    background-position: 0 -252px;
}

/*热门活动 bot-box*/
.main-container .hot-box {
    width: 100%;
    margin: 8px 0;
    background: #fff;
}

.main-container .hot-box-hd {
    position: relative;
    height: 44px;
    line-height: 44px;
    padding: 0 8px;
    border-bottom: 1px solid #f2f2f2;
}

.main-container .hot-box-hd .title {
    position: relative;
    text-indent: -1000px;
    margin: 0;
    height: 0;
}

.main-container .hot-box-hd .title::after {
    position: absolute;
    top: 15px;
    left: 4px;
    content: "";
    display: block;
    width: 79px;
    height: 15px;
    background: url("../images/hot.png") no-repeat 0 -20px;
    background-size: 79px;
}

.main-container .hot-box-hd .more {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    line-height: 16px;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
    -webkit-border-radius: 12px;
    border-radius: 12px;
    padding: 4px 20px 4px 10px;
    color: #fff;
}

.main-container .hot-box-hd .more::after {
    position: absolute;
    display: block;
    top: 8px;
    right: 10px;
    content: "";
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.main-container .hot-box-bd .hot-item-row {
    display: flex;
}

.main-container .hot-box-bd .hot-item-row:nth-child(-n+2) {
    border-bottom: 1px solid #f2f2f2;
}

.main-container .hot-box-bd .hot-item-row a {
    flex: 1;
}

.main-container .hot-box-bd .hot-item-row a:first-child {
    border-right: 1px solid #f2f2f2;
}