@charset "UTF-8";
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0; }

.title {
    height: 44px;
    line-height:44px;
    background: skyblue;
}

.title a {
    color:#fff;
    padding:0 20px;
    text-decoration: none;
}

.title + div.home {
  margin: 10px 20px;
}

/*左右分栏*/
.content {
    width:100%;
    height: 500px;
    display:flex;
}

.content .left {
    width: 120px;
    height: 500px;
    background: #cccccc;
    padding: 20px;
}

.content .left a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 5px;
}

.content .right {
    flex:1;
    height: 500px;
    background: #e0e0e0;
    padding: 20px;
}