body { background: #fff; }
.btn {
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.btn:focus {
  outline: none;
}

.btn.btn-warning {
  color: #fff;
  background-color: orange;
  border: none;
}
.btn.btn-warning:hover {
  color: #fff;
  background-color: red;
}