/*全局样式*/
body {
    line-height: 1.5;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    background: #fff;
}

* {
    box-sizing: border-box;
    /*点击元素清除默认高亮*/
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #666;
    text-decoration: none;
}

img {
    width: 100%;
    border: none;
    vertical-align: middle;
}

a, img {
    /*清除默认链接，图片长按的下拉菜单*/
    -webkit-touch-callout: none;
}

input, textarea {
    outline: none;
    /*清除默认在ios上的文本框外观*/
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.wrapper {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon-sprite {
    background: url("../images/sprite.png") no-repeat;
    background-size: 200px;
}

.icon-before::before,
.icon-after::after {
    content: "";
    display: block;
    background: url("../images/sprite.png") no-repeat;
    background-size: 200px;
}

/*顶部栏 top-bar*/
.top-bar ul {
    height: 45px;
    line-height: 45px;
}

.top-bar li {
    float: left;
    height: 100%;
    text-align: center;
    color: #fff;
    background: #333;
}

.top-bar li.close {
    width: 8%;
}

.top-bar li.close img {
    width: 10px;
}

.top-bar li.logo {
    width: 10%;
}

.top-bar li.logo img {
    width: 30px;
}

.top-bar li.app {
    width: 57%;
}

.top-bar li.open {
    width: 25%;
    background: #f63515;
}

/*搜索栏 search-bar*/
.search-bar {
    position: fixed;
    overflow: hidden;
    height: 44px;
    line-height: 44px;
}

.search-bar .left,
.search-bar .right {
    position: absolute;
    width: 40px;
    height: 100%;
    top: 0;
}

.search-bar .left {
    left: 0;
}

.search-bar .left::before {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    margin: 14px 0 0 15px;
    background: url("../images/s-btn.png") no-repeat;
    background-size: cover;
}

.search-bar .right {
    right: 0;
    text-align: center;
    color: #fff;
}

.search-bar .search-box {
    position: relative;
    background: #fff;
    height: 30px;
    margin: 7px 50px 0;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.search-bar .search-box .icon-jd {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 20px;
    height: 15px;
    background: url("../images/jd.png") no-repeat;
    background-size: cover;
}

.search-bar .search-box .icon-jd::after {
    position: absolute;
    right: -8px;
    top: 0;
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ccc;
}

.search-bar .search-box .icon-search {
    position: absolute;
    top: 8px;
    left: 45px;
    width: 18px;
    height: 15px;
    background-position: -81px 0;
    background-size: 200px;
}

.search-bar .search-box .search-input {
    float: left;
    width: 95%;
    height: 30px;
    padding: 0 10px 0 65px;
    line-height: 30px;
    font-size: 12px;
}

.search-bar .search-box .search-input .keyword {
    width: 100%;
    border: none;
    padding-left: 5px;
    vertical-align: middle;
}

/*轮播图 banner*/
.main-container .banner img {
    width: 100%;
}

/*品牌栏 brand*/
.main-container .brand-item {
    float: left;
    width: 33.33%;
}

.main-container .brand-item img {
    width: 100%;
}

/*导航栏 nav*/
.main-container .nav {
    margin: 10px 0;
}

.main-container .nav-item {
    float: left;
    width: 20%;
    text-align: center;
}

.main-container .nav-item img {
    width: 40px;
    margin: 10px 0 5px;
}

.main-container .nav-item span {
    display: block;
}

/*消息栏 news*/
.main-container .news-item {
    float: left;
}

.main-container .news-item:first-child {
    width: 50%;
}

.main-container .news-item:nth-child(n+2) {
    width: 25%;
    border-left: 1px solid #f5f5f5;
}

.main-container .news-item img {
    width: 100%;
}