<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <link rel="icon" href="../favicon.ico">
  <title>Filter</title>
  <style>
    .active {
      font-weight: bold;
      color: #fe00ff;
    }
  </style>
</head>
<body>
  <div id="app">
    <course-list :courses="courses"></course-list>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    // 课程列表
    Vue.component('course-list', {
      props: {
        courses: {
          type: Array,
          default: () => []
        }
      },
      data() {
        return {
          selected: ''
        }
      },
      // filters: {
      //   currency(val, symbol = '¥') {
      //     return `${symbol}${val}`
      //   }
      // },
      template: `
        <div>
          <p v-if="!courses.length">没有任何课程信息</p>
          <ul>
            <li v-for="item in courses" :class="{active:selected==item}" :key="item.name" @click="selected=item">
              {{item.name}} - {{item.price | currency}} - {{item.price*0.65 | currency('$')}}
            </li>
          </ul>
        </div>
      `
    })
    // 定义全局过滤器
    Vue.filter('currency', (val, symbol = '¥') => `${symbol}${val}`)
    const app = new Vue({
      el: '#app',
      data() {
        return {
          courses: [
            { name: 'vue', price: 800 },
            { name: 'react', price: 600 },
            { name: 'node', price: 500 }
          ]
        }
      }
    })
  </script>
</body>
</html>
